<section class="benefit-section pad-70">
  <div class="left-card">
    <img ngSrc="./assets/team.png" priority width="600" height="585" />
    <h4>Equipe Capacitada</h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe tempore
      incidunt ullam, cum eum odio? Commodi, blanditiis et? Voluptates iusto
      nisi, saepe tenetur nulla qui voluptatibus sequi aspernatur necessitatibus
      labore porro! Saepe harum magnam itaque, ullam blanditiis alias
      repudiandae asperiores?
    </p>
  </div>
  <div class="right-card">
    <img ngSrc="./assets/project-guide.png" priority width="600" height="585" />
    <h4>Seus Projectos Guiados Do Zero</h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe tempore
      incidunt ullam, cum eum odio? Commodi, blanditiis et? Voluptates iusto
      nisi, saepe tenetur nulla qui voluptatibus sequi aspernatur necessitatibus
      labore porro! Saepe harum magnam itaque, ullam blanditiis alias
      repudiandae asperiores?
    </p>
  </div>
</section>
